// breakpoints
$SECTION_MAX_WIDTH: 1224px;
$PHONE_MAX_WIDTH: 559px;
$TABLET_MIN_WIDTH: 560px;
$TABLET_MAX_WIDTH: 859px;
$DESKTOP_MIN_WIDTH: 860px;

// colors
$WHITE: #ffffff;
$GREY: #c3c3c3;
$BLACK: #000000;
$RED: #ca3b4b;
$DEFAULT_TEXT_COLOR: #000;
$DEFAULT_BORDER_COLOR: #e9e9e9;
$BLOCKSTACK_APP_BLUE: #3498db;
$BLOCKSTACK_BLUE: #262deb;
$REACT_BLUE: #81d8f7;

// border-radius
$DEFAULT_BORDER_RADIUS: 3px;

// box-shadows
$RESOURCE_BOX_SHADOW: 0px 0px 2px rgba(0, 0, 0, .125);
$NAV_BOX_SHADOW: 0px 0px 1px rgba(0, 0, 0, .25);

// fonts
$DEFAULT_FONT_FAMILIES: Helvetica Neue, Helvetica, Arial, sans-serif;
$BLOCKSTACK_FONT: Plex, monospace;
$DEFAULT_FONT_WEIGHT: 200;
$BASE_FONT_SIZE: 16px;
$BASE_LINE_HEIGHT: 24px;
$H1_FONT_SIZE: 32px;
$H1_LINE_HEIGHT: 40px;
$H2_FONT_SIZE: 27px;
$H2_LINE_HEIGHT: 33.75px;
$H3_FONT_SIZE: 22px;
$H3_LINE_HEIGHT: 30.25px;
$H4_FONT_SIZE: 18px;
$H4_LINE_HEIGHT: 20.25px;